AME_2016/XMLTextFramework/mixedContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- definition of simple types -->
  <xs:simpleType name="nameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- definition of complex types -->
  <xs:complexType name="playerType" mixed="true">
  	<xs:sequence>
		<xs:element type="nameType" name="name"></xs:element>
  	</xs:sequence>
  </xs:complexType>     
   <!-- root element -->
  <xs:element name="player" type="playerType"></xs:element>   
</xs:schema>
